.addProperty {
  width: 40%;
  margin: 50px auto;
  background: white;
  padding: 10px;
}

.addProperty form {
  font-size: 14px;
  font-weight: bold;
}

.addProperty form label {
  display: block;
  padding: 5px 0;
}

.addProperty form select {
   padding: 2px;
}

.fieldContainer {
  margin: 10px 0;
}

.submitButton {
  display: block;
  margin: 20px 0 0 0;
  height: 30px;
  width: 60px;
  background: #732673;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
