.properties-details, .properties-page {
  display: flex;
  
}

.properties-details {
  flex-wrap: wrap;
  justify-content: flex-start;
}

/*.properties-page {
  justify-content: space-around;
  align-items: space-around;
}*/